DMARKET_PUBLIC_KEY=
DMARKET_SECRET_KEY=
MARKETCSGO_API_KEY=
LOOTFARM_BASE_URL=https://loot.farm
MARKETRUST_BASE_URL=https://rust.tm
MARKETTF2_BASE_URL=https://tf2.tm
ARBITRAGE_DMARKET_FEE=0.02
ARBITRAGE_MARKETCSGO_FEE=0.05
ARBITRAGE_LOOTFARM_FEE=0.05
ARBITRAGE_REQUEST_TIMEOUT=20
ARBITRAGE_REFRESH_DELAY=60
ARBITRAGE_REFRESH_GAME=cs2
ARBITRAGE_REFRESH_GAMES=cs2,rust,tf2
ARBITRAGE_DMARKET_PAGE_LIMIT=100
ARBITRAGE_DMARKET_MAX_PAGES=1000
ARBITRAGE_DMARKET_PAGE_DELAY=1
ARBITRAGE_DMARKET_TARGET_BATCH_SIZE=100
ARBITRAGE_DMARKET_TARGET_WRITE_CHUNK=10
ARBITRAGE_DMARKET_TARGET_DELAY=0.3
